<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938599441117-dogbhjtc2sqbor73cih20co5gh23s21v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938599441117-dogbhjtc2sqbor73cih20co5gh23s21v</string>
	<key>API_KEY</key>
	<string>AIzaSyDNrxVEw3IFFuu7_tIKez8IODy_zrnAelU</string>
	<key>GCM_SENDER_ID</key>
	<string>938599441117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sila.MovieSearchApp</string>
	<key>PROJECT_ID</key>
	<string>moviesearchapp-bfeee</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesearchapp-bfeee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938599441117:ios:bbdddb2c494a3ab47b7134</string>
</dict>
</plist>